@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Pixeloid Sans, system-ui, sans-serif;
    @apply text-base-content;
  }
}

@font-face {
  font-family: "Pixeloid Mono";
  src: url(/render/assets/fonts/PixeloidMono.ttf);
}

@font-face {
  font-family: "Pixeloid Sans";
  src: url(/render/assets/fonts/PixeloidSans.ttf);
}

@font-face {
  font-family: "Pixeloid Sans Bold";
  src: url(/render/assets/fonts/PixeloidSans-Bold.ttf);
}

@tailwind components;

@layer components {
  .input {
    @apply border-2 border-neutral focus:border-neutral-focus active:border-neutral-focus;
  }
  .input-primary {
    @apply border-primary hover:border-primary-focus text-base-content bg-base-100;
  }
  .input-borderless {
    @apply border-0;
  }
  .input-square {
    @apply border-r-0;
  }

  .input-xs {
    @apply px-0 py-0;
  }

  .input-sm {
    @apply px-2 py-1;
  }

  .input-md {
    @apply px-3 py-2;
  }

  .input-lg {
    @apply px-4 py-3;
  }
}
